
/* Oculta o header padrão do Streamlit */
header[data-testid="stHeader"] {
    display: none;
}
/* Formata containers */
div[data-testid="stVerticalBlock"] > div:first-child {
    max-width: 100%;
    background-color: transparent;
    /* border: 1px solid gray; */
    border-radius: 10px;
    margin-top: 0rem !important;
    overflow: hidden;
}
/* Remove margens extras padrão do body do Streamlit e adiciona cor de fundo cinza claro*/  
section.stMain > div {
    padding-top: 0rem;
    /* border: 1px solid red; */
    background-color: #f9f9f9;
}
/*Ajustando o tamanho do conteúdo da página*/
div[data-testid="stVerticalBlockBorderWrapper"] > div:first-child{
    max-width: 1360px;
    margin: 0 auto;
    padding: 1rem;
}

/* Também remove margem/padding do pai imediato (caso exista) */
div[data-testid="stHeadingWithActionElements"] > * {
    margin-top: 0 !important;
    padding-top: 0 !important;
    /* padding-bottom: 0 !important; */
}

body {
    background-color: #f9f9f9;
}



:root {
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Painel perfil */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.background-image {
    width: 100%;
    max-height: 150px;
    max-width: 1160px;
    object-fit: cover;
}
.icon-container {
    position: absolute;
    bottom: 20px; /* Valor base para o alinhamento vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
.linkedin-icon {
    left: 36%;
    bottom: -12px; /* Ajuste fino para alinhar verticalmente com o da direita */
}
.github-icon {
    right: 36%;
}
.icon-circle {
    width: 35vw; /* ou 30%, depende do layout desejado */
    max-width: 50px; /* limite máximo */
    min-width: 30px;       /* (Opcional) Limite mínimo em telas pequenas */
    aspect-ratio: 1 / 1; /* mantém formato circular */
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid white; /* Borda para visualização */
}
.icon-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.profile-circle {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 17%; /* ou use % baseado no container */
    max-width: 250px;
    min-width: 100px;
    aspect-ratio: 1 / 1; /* mantém o formato circular */
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid white;
    z-index: 3;
}
.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* quadro habilidades */
.skill-card {
    background: linear-gradient(to bottom, #f9f9f9 0%, #ffffff 40%);
    border-radius: 12px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    border: none;
}


/* quadro de projetos */
.project-card {
    background: linear-gradient(to bottom, rgba(249, 249, 249, 0.6) 0%, #ffffff 50%);
    border-radius: 12px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    min-height: 475px;
    max-height: 475px;
    overflow: hidden;
}
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}
.project-card h5 {
    margin: 0.5rem 0;
}
.project-card p {
    flex-grow: 1;
    margin: 0.5rem 0;
    text-align: justify;

    display: -webkit-box;
    -webkit-line-clamp: 4; /* Número máximo de linhas visíveis */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.project-image {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.75rem;
}
.project-links {
    margin-top: auto;
}
.project-links a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
}
.project-links a:hover {
    text-decoration: underline;
}


/* quadro de certificação */
.cert-card {
    background: linear-gradient(to bottom, rgba(249, 249, 249, 0.6) 0%, #ffffff 50%);
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    min-height: 350px;
    max-height: 350px;
    overflow: hidden;
}
.cert-card h5 {
    margin: 0.5rem 0 0;
    font-size: 1.1rem;
}
.cert-card h6 {
    margin: 0.3rem 0 0;
    font-size: 0.9rem;
    color: #555;
}
.cert-image {
    width: 100%;
    max-height: 160px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.cert-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}


/* quadro de contato */
.contact-description {
    padding: 0rem;
    padding-left: 2.8rem;
    font-size: 16px;
    color: #374151;
    font-family: 'Segoe UI', sans-serif;
    text-align: left;
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0.8rem;
}
.contact-image {
    padding: 0rem;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}
.form-card {
    padding: 1rem;
    border-radius: 10px;
    max-width: 600px;
    border: 3px solid transparent;
}
.form-title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    color: #1f2937;
    font-family: 'Segoe UI', sans-serif;
}
.form-input, .form-textarea {
    width: 100%;
    padding: 0.55rem 0.55rem;
    border: none;
    border-radius: 10px;
    background-color: #F0F2F6;
    margin-bottom: 1rem;
    font-size: 16px;
}
.form-button {
    background: linear-gradient(to right, #10b981, #06b6d4); /* verde para ciano */
    border: none;
    border-radius: 7px;
    padding: 0.45rem 0.8rem;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: block;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.form-button:hover {
    transform: scale(1.03);
    opacity: 0.9;
}